body {
    color: #909090;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.5px;
    background-color: #4A90E2;
}
.page-hero {

    height: 100px;
    width: 102px;
    margin: 0 auto;
    background-image: url('../img/icon-google-hero-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    font-size: 20px;

}
.card-container {
    margin-top: 346px;
    margin: 342px 64px;
}
.card {
    // Variables
    $card-height: 156px;
    // Styleing
    height: 132px;
    width: 254px;
    padding: 9px 15px 15px 16px;
    margin: 11px 13px 22px 11px;
    float: left;
    background: white;
    // Drop Shadow
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
       -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
    // Border Radius
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
    &.text-white {
        h1,
        .share {
            color: white;
        }
    }
    &.side-artwork {
        height: $card-height;
        width: 268px;
        padding: 0 0 0 16px;
        &.adele {
            background-color: #424242;
        }
        .content {
            width: 154px;
            padding: 9px 14px 14px 0;
        }
    }
    .content {
        position: relative;
        height: 134px;
        float: left;
        .info {
            .star {
                color: #D6D6D6;
                &.three {
                    .fa-star:nth-child(-n+3) {
                        color: #ED911E;
                    }
                }
                &.four {
                    .fa-star:nth-child(-n+4) {
                        color: #ED911E;
                    }
                }
            }
        }
    }
    .card-artwork {
        width: 100px;
        height: $card-height;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        &.adele {
            background-image: url('../img/photo-adele.png');
        }
    }
    .share {
        position: absolute;
        bottom: 11px;
        font-size: 12.5px;
        text-transform: uppercase;
    }
    .link {
        position: absolute;
        bottom: 11px;
        right: 12px;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 7px;
    color: #212121;
    font-weight: 400;
    font-size: 15px;
}
p {
    margin-top: 5px;
    line-height: 15px;
}

.card {
    &.application {
        .card-icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 43px;
            background-repeat: no-repeat;
            background-position: center center;
            &.gboard {

                background-image: url('../img/icon-app-review.png');
            }
        }

    }
}



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix {
    display: inline-block;
}

* html .clearfix { height: 1%; }
.clearfix { display: block; }
